.footer {
  position: absolute;
  bottom: 0;
  margin-top: 10vh;
  color: white;
  background-color: #0a2351;
  height: 12vh;
  width: 90%;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}
p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.5%;
}
