.keyword-search {
  background-color: white;
  width: 20%;
  height: 40%;
  border-radius: 50px;
  margin-top: 4vh;
  margin-left: 5vh;
  text-align: center;
  font-weight: 550;
  font-size: 20px;
  color: #b6922e;
}
.keyword-search::placeholder {
  text-align: center;
}
