.navBar-container {
  display: inline-flex;
  width: 100%;
  font-size: 20px;
  justify-content: space-between;
}
.logo {
  display: inline-flex;
}
.links {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.link {
  padding: 0 0.5rem;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: #b6922e;
}
h1 {
  font-size: 40px;
  color: #05338a;
}
