.navBar-container {
  display: inline-flex;
  width: 100%;
  font-size: 20px;
  justify-content: space-between;
}
.logo {
  display: inline-flex;
}
.top-right {
  display: flex;
  align-items: center;
}
.socials {
  display: flex;
  justify-content: end;
  margin-bottom: 1rem;
}
img:hover {
  scale: 1.15;
}
#x-logo {
  width: 2rem;
  height: 2rem;
}
#linkedin-logo {
  margin-left: 1rem;
  width: 2rem;
  height: 2rem;
}
.links {
  display: inline-flex;
}
.ad-link {
  padding: 0 0.5rem;
}
.ab-link {
  padding-left: 0.5rem;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: #b6922e;
}
h1 {
  font-size: 40px;
  color: #05338a;
}
